/* Jaylan versucht Dinge */
.example-box {
    display: flex;
    align-items: center;
    gap: 40px;             /* Abstand zwischen Code und Button */
    padding: 20px;
    background: var(--blue-soft);
    border: 1px solid var(--blue-border);
    border-radius: 8px;
    justify-content: center;
}

.example-box pre {
    margin: 0;
    padding: 1em 2em;
    background: white;
    border-radius: 6px;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.button-green {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
}

.button-green:hover {
    background-color: darkgreen;
}

.button-green:active {
    transform: translateY(4px);
    box-shadow: 0 1px #b22222;
}

.button-border_0 {
    border-radius: 0px !important;
}

.button-border_1 {
    border-radius: 6px;
}

.button-border_2 {
    border-radius: 9999px;
}

.button-color_1 {
background-color: Darkcyan;
}

.button-color_2 {
background-color: #008B8B;
}

.button-color_3 {
background-color: rgb(0, 139, 139);
}